body{
    background: linear-gradient(purple,black);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}
h1{
    text-decoration: underline;
    text-decoration-color: black;
    text-align: center;
}
h3{
    background-color: white;
    font: icon;
    text-align: center;
    
}
p{
    font-size: large;
    font-weight: bold;
    background-color: blueviolet;
    text-align: center;
    background-size: contain;

}
ul{
    background-color: red;
    text-transform: capitalize;
    text-decoration-style: dotted;
    text-decoration: solid;
    font: bold;
    font-size: larger;
    border-radius: 10mm;
}